@model Shop.Models.OpenWeather.OpenWeatherCityViewModel

<h1>City</h1>

<div class="container">
    <div class="form-group col-md-3">
        <h2>Current weather for the selected city</h2>

        <label asp-for="Coordlon"></label>
        <span class="badge">@Model.Coordlon</span>
        <br />

        <label asp-for="Coordlat"></label>
        <span class="badge">@Model.Coordlat</span>
        <br />

        <label asp-for="Weatherid"></label>
        <span class="badge">@Model.Weatherid</span>
        <br />

        <label asp-for="WeatherMain"></label>
        <span class="badge">@Model.WeatherMain</span>
        <br />

        <label asp-for="Weatherdescription"></label>
        <span class="badge">@Model.Weatherdescription</span>
        <br />

        <label asp-for="Weathericon"></label>
        <span class="badge">@Model.Weathericon</span>
        <br />

        <label asp-for="_base"></label>
        <span class="badge">@Model._base</span>
        <br />

        <label asp-for="Maintemp"></label>
        <span class="badge">@Model.Maintemp</span>
        <br />

        <label asp-for="Mainfeels_like"></label>
        <span class="badge">@Model.Mainfeels_like</span>
        <br />

        <label asp-for="Maintemp_min"></label>
        <span class="badge">@Model.Maintemp_min</span>
        <br />

        <label asp-for="Maintemp_max"></label>
        <span class="badge">@Model.Maintemp_max</span>
        <br />

        <label asp-for="Mainpressure"></label>
        <span class="badge">@Model.Mainpressure</span>
        <br />

        <label asp-for="Mainhumidity"></label>
        <span class="badge">@Model.Mainhumidity</span>
        <br />

        <label asp-for="Mainsea_level"></label>
        <span class="badge">@Model.Mainsea_level</span>
        <br />

        <label asp-for="Maingrnd_level"></label>
        <span class="badge">@Model.Maingrnd_level</span>
        <br />

        <label asp-for="visibility"></label>
        <span class="badge">@Model.visibility</span>
        <br />

        <label asp-for="Windspeed"></label>
        <span class="badge">@Model.Windspeed</span>
        <br />

        <label asp-for="Winddeg"></label>
        <span class="badge">@Model.Winddeg</span>
        <br />

        <label asp-for="Windgust"></label>
        <span class="badge">@Model.Windgust</span>
        <br />

        <label asp-for="Rain_1h"></label>
        <span class="badge">@Model.Rain_1h</span>
        <br />

        <label asp-for="Cloudsall"></label>
        <span class="badge">@Model.Cloudsall</span>
        <br />

        <label asp-for="dt"></label>
        <span class="badge">@Model.dt</span>
        <br />

        <label asp-for="Systype"></label>
        <span class="badge">@Model.Systype</span>
        <br />

        <label asp-for="Sysid"></label>
        <span class="badge">@Model.Sysid</span>
        <br />

        <label asp-for="Syscountry"></label>
        <span class="badge">@Model.Syscountry</span>
        <br />

        <label asp-for="Syssunrise"></label>
        <span class="badge">@Model.Syssunrise</span>
        <br />

        <label asp-for="Syssunset"></label>
        <span class="badge">@Model.Syssunset</span>
        <br />

        <label asp-for="timezone"></label>
        <span class="badge">@Model.timezone</span>
        <br />

        <label asp-for="id"></label>
        <span class="badge">@Model.id</span>
        <br />

        <label asp-for="name"></label>
        <span class="badge">@Model.name</span>
        <br />

        <label asp-for="cod"></label>
        <span class="badge">@Model.cod</span>
        <br />

    </div>>
</div>
